<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY PORTIFOLIO</title>
    <link rel="stylesheet" href="./index.js">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <!--head--> 
  <div class="bg-white hidden mx-6 md:flex  justify-end items-center space-x-3">
      <a href="" class="uppercase hover:text-gray-900 text-gray-400 font-medium text-base">about me</a>
      <a href="" class="uppercase hover:text-gray-900 text-gray-400 font-medium text-base">experience</a>
      <a href="" class="uppercase hover:text-gray-900 text-gray-400 font-medium text-base">contact</a>
  </div>
  <div class="container h-auto bg-white flex justify-between items-center gap-3">
        <div class="w-1/2 z-10">
            <h1 class="capitalize text-gray-500 text-center text-lg md:text-4xl font-medium ">hello i'm <span class="block text-4xl  uppercase md:text-6xl text-gray-600">johnson</span> <span class="text-type uppercase text-xl md:text-4xl text-gray-900"> </span></h1>
            <p class="mt-6 text-gray-600 font-semibold text-left md:text-center text-lg">Electronics and Telecommunication Engineer </p>
        </div>
        <div class="w-1/2">
            <img src="./img/john.png" class="object-cover ml-4">
        </div>
    </div>
  <!--head end--> 

<!--About Me-->




<!--About Me end-->


<!--SKILLS-->
<div class="container bg-gray-100 ">
    
    <div class="text-center text-gray-600 uppercase px-3 py-5 font-medium text-3xl">skills</div>
    <div>

        <div class="grid  lg:grid-cols-4  sm:grid-cols-2 justify-between items-center sm:gap-12 mx-10">
            <!--card-->
            <div class="my-6 border bg-white shadow-lg hover:shadow-2xl px-6 py-6 group">
                <div class="w-16 h-16 rounded-full bg-slate-100 group-hover:bg-slate-50 mx-auto relative"><img src="./assets/cpu.png" class="w-8 left-4  top-4 object-center mx-auto absolute"></div>
                <div class="mt-6">
                    <h2 class="block text-sm text-center text-gray-600 font-medium uppercase">embedded programing</h2>
                    <p  class="mt-4 text-left">Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Ea, veritatis.</p>
                </div>
            </div>
            <!--card end-->

             <!--card-->
             <div class="my-6 border bg-white shadow-lg hover:shadow-2xl px-6 py-6 group">
                <div class="w-16 h-16 rounded-full bg-slate-100 group-hover:bg-slate-50 mx-auto relative"><img src="./assets/settings.png" class="w-8 left-4  top-4 object-center mx-auto absolute"></div>
                <div class="mt-6">
                    <h2 class="block text-sm text-center text-gray-600 font-medium uppercase">electronics automation</h2>
                    <p  class="mt-4 text-left">Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Ea, veritatis.</p>
                </div>
            </div>
            <!--card end-->

             <!--card-->
             <div class="my-6 border bg-white shadow-lg hover:shadow-2xl px-6 py-6 group">
                <div class="w-16 h-16 rounded-full bg-slate-100 group-hover:bg-slate-50 mx-auto relative"><img src="./assets/smartphone.png" class="w-8 left-4  top-4 object-center mx-auto absolute"></div>
                <div class="mt-6">
                    <h2 class="block text-sm text-center text-gray-600 font-medium uppercase">website & app <br> design</h2>
                    <p  class="mt-4 text-left">Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Ea, veritatis.</p>
                </div>
            </div>
            <!--card end-->

             <!--card-->
             <div class="my-6 border bg-white shadow-lg hover:shadow-2xl px-6 py-6 group">
                <div class="w-16 h-16 rounded-full bg-slate-100 group-hover:bg-slate-50 mx-auto relative"><img src="./assets/paint-brush.png" class="w-8 left-4  top-4 object-center mx-auto absolute"></div>
                <div class="mt-6">
                    <h2 class="block text-sm text-center text-gray-600 font-medium uppercase">graphics</h2>
                    <p  class="mt-4 text-left">Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Ea, veritatis.</p>
                </div>
                <div class="btn  justify-end text-sm btn-primary">read MOre</div>
            </div>
            <!--card end-->
        </div>

    </div>
</div>
<!--skill end-->

<!--get Intouch-->
<div class="container px6 bg-slate-50">

    <div class="flex pt-3 justify-center items-center"> 
        <div class="text-center text-gray-600 bg-slate-50 rounded font-lg z-40 relative text-3xl px-3 uppercase">get intouch</div>
        <div class="border-b-4 border-gray-400  absolute w-60 text-center pt-2" ></div>
    </div>

<div class="grid md:grid-cols-2 md:gap-10">
     <div class="md:col-span-1"> 

<!--form-->
<div class="container mx-6 py-16">
    <div class="max-w-3xl mx-auto shadow px-6 py-7 rounded overflow-hidden">
            <h2 class="text-2xl font-medium mb-6 uppercase text-gray-400">contact form</h2>
            <form action="" class="space-y-6">
                     <div class="lg:flex justify-between items-center gap-6">
                        <div class="lg:w-1/2 mb-3">
                            <label class="text-gray-600 mb-1 block">First Name</label>
                            <input type="text" class="block w-full border border-gray-100 px-4 py-3 rounded shadow-md focus:border-indigo-300 focus:ring focus:ring-indigo-300 focus:ring-opacity-50 text-gray-600 text-sm" placeholder="first name">
                        </div>
                        <div class="lg:w-1/2 mb-3">
                            <label class="text-gray-600 mb-1 block">last Name</label>
                            <input type="text" class="block w-full border border-gray-100 px-4 py-3 rounded shadow-md focus:border-indigo-300 focus:ring focus:ring-indigo-300 focus:ring-opacity-50 text-gray-600 text-sm" placeholder="last name">
                        </div>
                    </div>
                    <div>
                        <label class="text-gray-600 mb-1 block">Email</label>
                        <input type="email" class="block w-full border border-gray-100 px-4 py-3 rounded shadow-md focus:border-indigo-300 focus:ring focus:ring-indigo-300 focus:ring-opacity-50 text-gray-600 text-sm" placeholder="enter your email">
                    </div>
                    <div>
                        <label class="text-gray-600 mb-1 block">Message</label>
                        <textarea class="block w-full border border-gray-100 px-4 rounded shadow-md focus:border-indigo-300 focus:ring focus:ring-indigo-300 focus:ring-opacity-50 text-gray-600 text-sm" rows="3" placeholder="your message"></textarea>
                    </div>
                
                <div class="mt-3">
                    <button type="submit"
                    class="block text-center py-3 hover:text-white font-medium w-1/2 mx-auto uppercase border hover:bg-gray-900 rounded bg-transparent transition text-gray-900">
                        submit
                    </button>
                </div>
            </form>
        </div>
</div>
<!--form end-->
</div>
<div class="px-6 mb-6 md:col-span-1 md:mt-10">
    <div class="flex justify-center items-center"> 
        <div class="text-center text-gray-600 bg-slate-50 rounded font-medium z-40 relative text-xl px-3 capitalize">contact info</div>
        <div class="border-b-4 border-gray-400  absolute w-60 text-center pt-2" ></div>
    </div>
    
    <div class="mt-6 mx-12 grid justify-center">
        <div class="block text-left mb-4"><img src="./assets/location-pin.png" class="w-4 mr-3 inline-block"> temeke tanzania</div>
        <div class="block text-left mb-4"><img src="./assets/email.png" class="w-4 mr-3 inline-block">nombojohnson@gmail.com</div>
        <div class="block text-left mb4"><img src="./assets/phone.svg" class="w-4 mr-3 inline-block"> +255 743 661 919</div>
    </div>
</div>
</div>
</div>
<!--get InTouch end-->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    var typed1 = new Typed(".text-type", {
    strings: [,'ui/ux desiner' ,'website designer'],
    typeSpeed:100,
    backSpeed:50,
    loop: true
});
</script>
</body>
</html>
